@import "./value.scss";
@import "./class.scss";

/**
  size-small  400px
  size-middle 750px 
  size-large  1000px
*/

@each $title,
$size in (small : 400px, middle : 750px, large : 1000px) {
  .size-#{$title} {
    width: $size;
  }
}

/** 
  flex-column
  flex-row
  flex-center ( vertical & horizontal )
*/

@each $dist in (column, row, center, jus, alg, between, around, alg-end) {
  .flex-#{$dist} {
    @if $dist ==center {
      justify-content: center;
      align-items: center;
    }

    @else if $dist ==column or $dist ==row {
      flex-direction: $dist;
      display: flex;
    }
    @else if $dist == around{
      justify-content: space-around;
    }
    @else if $dist == jus {
      justify-content: center;
    }
    @else if $dist == between{
      justify-content: space-between;
    }
    @else if $dist == alg-end {
      align-items: end;
    }
    @else {
      align-items: center;
    }
  }
}

/** 
  border-base   10px
  border-small  5px
  border-large  20px
  border-round   50%
*/

@each $title,
$radius in (middle: 10px, small : 5px, large : 20px, round : 50%, none: none) {
  @if $title == none {
    .border-#{$title} {
      border: $radius;
    }
  }
  @else{
    .border-#{$title} {
      border-radius: $radius;
    }
  }
}

/** 
  bg-fff
  bg-blk
*/

@each $title,
$bg in (fff : #ffffff, blk : #000000 ) {
  .bg-#{$title} {
    background-color: $bg;
  }
}

/** 
  .pl-? padding-left ? * 2px
  .ml-? margin-left  ? * 2px
*/

@for $idx from 1 through 50 {
  .pd-#{$idx} {
    padding: $idx * 2px;
  }

  .mg-#{$idx} {
    margin: $idx * 2px;
  }

  @each $pos in (pl, pt, pr, pb, ml, mt, mr, mb) {
    .#{$pos}-#{$idx} {
      @if $pos ==pl {
        padding-left: $idx * 2px;
      }

      @else if $pos ==pt {
        padding-top: $idx * 2px;
      }

      @else if $pos ==pr {
        padding-right: $idx * 2px;
      }

      @else if $pos ==pb {
        padding-bottom: $idx * 2px;
      }

      @else if $pos ==ml {
        margin-left: $idx * 2px;
      }

      @else if $pos ==mt {
        margin-top: $idx * 2px;
      }

      @else if $pos ==mr {
        margin-right: $idx * 2px;
      }

      @else {
        margin-bottom: $idx * 2px;
      }
    }
  }
}

/** 
  font-* font-size : * * 1 px
*/
@for $i from 12 through 50 {
  .font-#{$i} {
    font-size: $i * 1px;
  }
}