$info : rgb(175 187 204 / 15%);
$white: #ffffff;
$black: #000;
$primary: #2563EB;
$success: #34D399;
$danger : #f56c6c;
$height-base: 40px;

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}